.main-page {
    display: flex;
}

.filter {
    float: right;
    width: 25%;
    margin: 20px 20px 20px 40px;
}

.table {
    float: left;
    width: 70%;
    margin: 20px;
}

table, th, td {
    border: 2px solid black;
}



